.content {
  padding: 2.5rem 0;
}

.content__title {
  font-size: 2.5rem;

  margin-bottom: 1.5rem;

  text-transform: uppercase;

  color: $color-primary-light;
}

.content__inner {
  display: grid;

  gap: 0 30px;
  grid-template-columns: repeat(4, 1fr);
}
