.content {
  padding: 2.5rem 0;
}

.content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;

  &-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    width: 32%;
    margin-right: 10px;
    color: $color-primary-light;
  }

  &-answers {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    width: 75.5%;
  }

  &-score {
    font-size: 3rem;

    margin-right: 3px;

    color: $color-secondary-light;

    &--mistake {
      color: $color-primary-dark;
    }
  }

  &-btn {
    font-size: 2rem;
    font-weight: 600;

    display: none;

    min-width: 4.5rem;
    min-height: 4.5rem;

    transition: background-color .15s linear;
    text-transform: uppercase;

    color: $color-primary-light;
    border-radius: 50%;
    background-color: $color-secondary-light;
    box-shadow: 0 0 0 4px $color-primary-light;

    &:hover {
      background-color: darken($color-secondary-light, 7);
    }

    &--active {
      display: block;
    }
  }
}

.content__inner {
  display: grid;

  animation: content-fade-in .5s linear;

  gap: 0 30px;
  grid-template-columns: repeat(4, 1fr);

  @include media-tablet-ls {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-tablet-pt {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-smartphone-pt {
    grid-template-columns: repeat(1, .8fr);
    justify-content: center;
  }
}
